.card-board {
    display: flex;
    flex-wrap: wrap;
}

.card-board-12 {
    max-width: 440px;
}
.card-board-15 {
    max-width: 550px;
}

.card {
    background-size: cover;
    border: 1px solid darkgray;
    border-radius: 4px;
    margin: 4px;
    width: 100px;
    height: calc(100px * 1.4);
}

.card.fade {
    opacity: 0.2;
}

ul.criteria-list {
    list-style: none;
}

ul.criteria-list > li > * {
    display: inline-block;
    margin-right: 4px;
}
