* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.card-board {
    display: flex;
    flex-wrap: wrap;
}

.card-board-9 {
    max-width: 330px;
}

.card-board-12 {
    max-width: 440px;
}

.card-board-15 {
    max-width: 550px;
}

.card-board-18 {
    max-width: 660px;
}

.card {
    background-size: cover;
    border: 1px solid darkgray;
    border-radius: 4px;
    margin: 4px;
    width: 100px;
    height: calc(100px * 1.4);
}

.card.fade {
    opacity: 0.2;
}

ul.criteria-list {
    list-style: none;
}

ul.criteria-list .query-criteria {
    display: flex;
    align-items: center;
}

ul.criteria-list .query-criteria > div > * {
    margin-right: 4px;
}

ul.criteria-list > li > * {
    margin-right: 4px;
}

.card > .close-btn {
    opacity: 0.3;
}

.close-btn {
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    background-image: url('../images/close-24px.svg');
    background-size: cover;
}

.elevate {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

select {
    border-radius: 4px;
    padding: 4px;
}

a.navbar-brand {
    height: 2rem;
    width: 2rem;
    background-image: url('../images/cards.png');
    background-size: cover;
    filter: invert(100%);
}

.max-width-400 {
    max-width: 400px;
}

.manual-image {
    border: 1px solid lightgray;
}

.manual-image-description {
    font-weight: bold;
    font-size: 10px;
}
